.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.5em;
    fill: currentColor;
    overflow: hidden;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header > svg{
    z-index: 5;
    height: 90px;
    width: 90px;
}

.icheckbox_flat-green,
.iradio_flat-green {
    height: 24px !important;
}

#trigger-upload {
    color: white;
    background-color: #00ABC7;
    font-size: 14px;
    padding: 7px 20px;
    background-image: none;
}

#fine-uploader-manual-trigger .qq-upload-button {
    margin-right: 15px;
}

#fine-uploader-manual-trigger .buttons {
    width: 36%;
}

#fine-uploader-manual-trigger .qq-uploader .qq-total-progress-bar-container {
    width: 60%;
}

